body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.account-title {
  font-size: 1.75em;
  color: rgb(2, 0, 66);
}

.field-label {
  font-size: 0.85em;
  color: rgb(130,130,130);
  margin-bottom: 0;
  margin-left: 0.5em;
}

.field-value {
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.gray {
  color: gray;
}
